// *******************               ******************* // 
// ******************* Services Card ******************* // 
// *******************               ******************* // 

.services {
    padding: 5vw 0;
    @include media-query(1024px){
        padding: 15vw 0 5vw;
    }
    .heading{
        @include media-query(992px){
            padding-top: 48px;
        }
        @include media-query(768px){
            padding-top: 16px;
        }
    }
    .banner-text {
        position: relative;
        background: transparent;
        z-index: 0;
        font-family: $font-primary;
        font-size: 4.6875vw;
        font-weight: 800;
        font-style: normal;
        line-height: 125%;
        @include media-query(430px){
            font-size: 6.6875vw;
        }
        &:before {
            content: attr(title);
            position: absolute;
            -webkit-text-stroke: 1px $black;
            -webkit-text-fill-color: $white;
            left: 0;
            top: 20px;
            z-index: -1;
            @include media-query(1299px){
                top: 16px;
            }
            @include media-query(820px){
                top: 11px;
            }
            @include media-query(768px){
                top: 8px;
            }
            
        }
    }

    .services-slider {
        margin: 0 -12px;
        @include media-query(492px){
            margin: 0 -4px;
        }
        .slick-prev {
            font-size: 0;
            line-height: 0;
            position: absolute;
            left: 88%;
            top: -17%;
            display: block;
            width: 80px;
            height: 56px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 999;
            cursor: pointer;
            border: 1px solid $black;
            outline: none;
            background: $white;
            border-radius: 15px;
            box-shadow: 0px 6px 0px 0px #000;

            @include media-query(1599px){
                left: 86%;
            }
            @include media-query(1399px){
                left: 84%;
                width: 65px;
                height: 48px;
            }
            @include media-query(1024px){
                top: -12%;
                left: 82%;
            }
            @include media-query(820px){
                width: 54px;
                height: 40px;
                border-radius: 10px;
            }
            @include media-query(768px){
                left: 80%;
            }
            @include media-query(575px){
                width: 46px;
                height: 33px;
                left: 77%;
            }
            @include media-query(492px){
                left: 74%;
            }
            @include media-query(430px){
                left: 70%;
            }
            @include media-query(399px){
                width: 42px;
                height: 34px;
            }
            
            &::before {
                color: $black;
                transition: $transition;
                font-size: 40px;
                font-weight: 100;
                @include media-query(575px){
                    font-size: 33px;
                }
            }

            &:hover {
                transition: $transition;
                background: $accent-1;

                &::before {
                    color: $white;
                }
            }
        }

        .slick-next {

            font-size: 0;
            line-height: 0;
            position: absolute;
            right: 25px;
            top: -17%;
            display: block;
            width: 80px;
            height: 56px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 999;
            cursor: pointer;
            border: 1px solid $black;
            outline: none;
            background: $white;
            border-radius: 15px;
            transition: $transition;
            box-shadow: 0px 6px 0px 0px #000;

            @include media-query(1399px){
                width: 65px;
                height: 48px;
            }
            @include media-query(1024px){
                top: -12%;
            }
            @include media-query(820px){
                width: 54px;
                height: 40px;
                border-radius: 10px;
            }
            @include media-query(575px){
                width: 46px;
                height: 33px;
            }
            @include media-query(399px){
                width: 42px;
                height: 34px;
            }
            &::before {
                color: $black;
                transition: $transition;
                font-size: 40px;
                font-weight: 100;
                @include media-query(575px){
                    font-size: 33px;
                }
            }

            &:hover {
                transition: $transition;
                background: $accent-1;

                &::before {
                    color: $white;
                }
            }
        }
    }

    .service-block_link {
        margin: 0 12px;

        @include media-query(492px){
            margin: 0 4px;
        }
        .service-block {
            position: relative;

            .content {
                position: absolute;
                z-index: 10;
                padding: clamp(12px, 1.25vw, 54px);
                width: 80%;
                // @include media-query(1499px){
                //     padding: 16px 0 12px 12px;
                // }
                // @include media-query(1399px){
                //     width: 22.3vw;
                // }
                // @include media-query(1299px){
                //     padding: 22px 0 12px 12px;
                // }
                // @include media-query(1024px){
                //     width: 33.3vw;
                // }
                // @include media-query(575px) {
                //     width: 31.6vw;
                //     padding: 12px 0 8px 8px;
                // }
                // @include media-query(430px) {
                //     width: 66.6vw;
                // }
                .card-image {
                    border-radius: 15px;
                    border: 1px solid $black;
                    width: clamp(326px, 21.094vw, 872px);
                    height: clamp(216px, 15.521vw, 660px);
                    transition: 1s ease-out height;

                    // @include media-query(1699px) {
                    //     width: 350px;
                    //     height: 250px;
                    // }

                    // @include media-query(1599px) {
                    //     width: 326px;
                    //     height: 236px;
                    // }
                    // @include media-query(1399px) {
                    //     width: 100%;
                    //     height: 232px;
                    // }
                    // @include media-query(1299px) {
                    //     height: 245px;
                    // }
                    // @include media-query(1024px) {
                    //     height: 292px;
                    // }
                    // @include media-query(820px) {
                    //     height: 228px;
                    // }
                    // @include media-query(768px) {
                    //     height: 205px;
                    // }
                    // @include media-query(575px) {
                    //     height: 158px;
                    // }
                    // @include media-query(492px) {
                    //     height: 122px;
                    // }
                    // @include media-query(430px) {
                    //     height: 230px;
                    // }
                }
                h4{
                    @include media-query(992px){
                        font-size: 2.279167vw;
                    }
                    @include media-query(430px) {
                        font-size: 5.279167vw;
                    }
                }
            }

            h3 {
                position: relative;
                font-family: $font-primary;
                font-size: 2.65625vw;
                font-weight: 700;
                font-style: normal;
                line-height: 120%;
                letter-spacing: -0.0265625vw;
                color: $white;
                -webkit-text-stroke: 1px #000;
                text-transform: uppercase;
                bottom: 150px;
                rotate: 90deg;
                left: 224px;

                @media (min-width: 2199px){
                    right: -30%;
                    left: unset;
                    bottom: unset;
                    top: 50%;
                    transform: translate(-30%, -90%);
                }

                @include media-query(1699px) {
                    left: 198px;
                }
                @include media-query(1599px) {
                    left: 185px;
                }
                @include media-query(1499px) {
                    left: 172px;
                }
                @include media-query(1399px) {
                    left: 160px;
                }
                @include media-query(1299px) {
                    left: 150px;
                }
                @include media-query(1199px) {
                    left: 136px;
                }
                @include media-query(1024px) {
                    left: 177px;
                    bottom: 96px;
                }
                @include media-query(992px) {
                    left: 172px;
                    bottom: 134px;
                    font-size: 3.65625vw;
                }
                @include media-query(820px) {
                    left: 140px;
                    bottom: 127px;
                }
                @include media-query(768px) {
                    left: 131px;
                    bottom: 115px;
                }
                @include media-query(575px) {
                    left: 96px;
                    bottom: 104px;
                }
                @include media-query(492px) {
                    left: 82px;
                    bottom: 78px;
                }
                @include media-query(430px) {
                    left: 147px;
                    font-size: 6.65625vw;
                }
                @include media-query(399px) {
                    bottom: 100px;
                    left: 132px;
                }

                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    color: $accent-1;
                    white-space: nowrap;
                    transition: 1s ease-out;
                    overflow: hidden;
                }
            }
            .shape-image{
                width: 100%;
                // @include media-query(1399px){
                //     height: 450px;
                // }
                // @include media-query(820px){
                //     height: 400px;
                // }
                // @include media-query(768px) {
                //     height: 370px;
                // }
                // @include media-query(575px) {
                //     height: 290px;
                // }
                // @include media-query(492px) {
                //     height: 236px;
                // }
                // @include media-query(430px) {
                //     width: 100%;
                //     height: 360px;
                // }
            }
        }

        &:hover {
            .service-block {
                cursor: pointer;
            }

            h3 {
                &::before {
                    width: 100%;
                    -webkit-text-stroke: 0px;
                }
            }
        }
    }
}