.team{
    padding: 5vw 0;
    .heading{
        @include media-query(992px){
            padding-top: 48px;
        }
        @include media-query(768px){
            padding-top: 16px;
        }
    }
    .banner-text {
        position: relative;
        background: transparent;
        z-index: 0;
        font-family: $font-primary;
        font-size:  4.6875vw;
        font-weight: 800;
        font-style: normal;
        line-height: 125%; 
        @include media-query(430px){
            font-size: 6.6875vw;
        }
        &:before {
            content: attr(title);
            position: absolute;
            -webkit-text-stroke: 1px $black;
            -webkit-text-fill-color: $white;
            left: 0;
            top: 20px;
            z-index: -1;
            @include media-query(1299px){
                top: 16px;
            }
            @include media-query(820px){
                top: 11px;
            }
            @include media-query(768px){
                top: 8px;
            }
        }
    }
    .team-slider{
        margin: 0 -12px;
        .slick-prev{

            font-size: 0;
            line-height: 0;
            position: absolute;
            left: 88%;
            top: -19%;
            display: block;
            width: 80px;
            height: 56px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 999;
            cursor: pointer;
            border: 1px solid $black;
            outline: none;
            background: $white;
            border-radius: 15px;
            box-shadow: 0px 6px 0px 0px #000;
            @include media-query(1599px){
                left: 86%;
            }
            @include media-query(1399px){
                left: 84%;
                width: 65px;
                height: 48px;
            }
            @include media-query(1024px){
                top: -18%;
                left: 82%;
            }
            @include media-query(820px){
                width: 54px;
                height: 40px;
                border-radius: 10px;
                top: -11%;
            }
            @include media-query(768px){
                left: 80%;
            }
            @include media-query(575px){
                width: 46px;
                height: 33px;
                left: 77%;
            }
            @include media-query(492px){
                left: 74%;
            }
            @include media-query(430px){
                left: 70%;
                top: -18%;
                
            }
            @include media-query(399px){
                width: 42px;
                height: 34px;
                top: -16%;
            }

            &::before{
                color: $black;
                transition: $transition;
                font-size: 40px;
                font-weight: 100;
                @include media-query(575px){
                    font-size: 33px;
                }
            }
            &:hover{
                transition: $transition;
                background: $accent-1;
                &::before{
                   color: $white;
                }
            }
        }
        .slick-next{
            font-size: 0;
            line-height: 0;
            position: absolute;
            right: 25px;
            top: -19%;
            display: block;
            width: 80px;
            height: 56px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 999;
            cursor: pointer;
            border: 1px solid $black;
            outline: none;
            background: $white;
            border-radius: 15px;
            transition: $transition;
            box-shadow: 0px 6px 0px 0px #000;
            @include media-query(1399px){
                width: 65px;
                height: 48px;
            }
            @include media-query(1024px){
                top: -18%;
            }
            @include media-query(820px){
                width: 54px;
                height: 40px;
                border-radius: 10px;
                top: -11%;
            }
            @include media-query(575px){
                width: 46px;
                height: 33px;
            }
            @include media-query(430px){
                top: -18%;
            }
            @include media-query(399px){
                width: 42px;
                height: 34px;
                top: -16%;
            }
            &::before{
                color: $black;
                transition: $transition;
                font-size: 40px;
                font-weight: 100;
                @include media-query(575px){
                    font-size: 33px;
                }
            }
            &:hover{
                transition: $transition;
                background: $accent-1;
                &::before{
                   color: $white;
                }
            }
        }

    }
    .team-block{
        margin: 0 12px;
        position: relative;
        .team-shape{
            width: 100%;
            @include media-query(1399px){
                height: 470px;
            }
            @include media-query(1299px){
                height: 440px;
            }
            @include media-query(820px){
                height: auto;
            }
            @include media-query(575px){
                height: 292px;
            }
            @include media-query(430px){
                width: 100%;
            }
        }
        .member-detail{
            position: absolute;
            top: 0;
            left: 0;
            padding: clamp(8px, 1.458vw, 82px);
            left: 0;
            // @include media-query(1499px){
            //     top: 12px;
            // }
            // @include media-query(1399px){
            //     top: 24px;
            // }
            // @include media-query(1024px){
            //     top: 34px;
            //     left: 8px;
            //     padding: 12px;
            // }
            // @include media-query(820px){
            //     top: 16px;
            // }
            // @include media-query(575px){
            //     top: 4px;
            // }
            // @include media-query(492px){
            //     top: 22px;
            //     padding: 0;
            // }
            // @include media-query(430px){
            //     top: 0;
            //     padding: 12px;
            // }
            // @include media-query(399px){
            //     top: 8px;
            // }

            img{
                @include media-query(820px){
                    width: 90px;
                }
                @include media-query(575px){
                    width: 70px;
                }
            }
            .title{
                margin-bottom: clamp(32px, 2.5vw, 64px);

                h4{
                    @include media-query(430px){
                        font-size: 3.97vw;
                    }
                }
                h5{
                    @include media-query(820px){
                        font-size: 1.5vw;
                    }
                    @include media-query(430px){
                        font-size: 2.5vw;
                    }
                }
            }
            p{
                @include media-query(1399px){
                    margin-bottom: 2.2vw;
                }
                @include media-query(1024px){
                    font-size: 1.3vw;
                }
                @include media-query(492px){
                    font-size: 1.6vw;
                }
                @include media-query(430px){
                    font-size: 2vw;
                }
                br{
                    @include media-query(1399px){
                        display: none;
                    }
                }
            }
            ul{
                margin-top: clamp(16px, 1.25vw, 48px);
                list-style: url('../media/vectors/star-vec.png');
                li{
                    @include media-query(1024px){
                        font-size: 1.5vw;
                    }
                    @include media-query(492px){
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }
}